body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    flex-direction:column-reverse;
}

header {
    background: linear-gradient(to right, #4CAF50, #00796B);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product p {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: #00796B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005a4f;
}

footer {
    background: linear-gradient(to right, #4CAF50, #00796B);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
nav {
    background: linear-gradient(to right, #4CAF50, #00796B);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}
      
div {
    margin: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 28px;
    color: #333;
}

section p {
    font-size: 18px;
    color: #555;
}